<div class="card">
  <div class="card-header">
    <h1><%= t("activerecord.attributes.mining_type.editing_mining_type") %></h1>
  </div>
  <%= render 'form', mining_type: @mining_type %>
  <div class="card-footer">
    <%= link_to "#{t('activerecord.attributes.mining_type.back')}", mining_types_path, class: "btn btn-primary" %>
    <%= link_to "#{t('activerecord.attributes.mining_type.show')}", @mining_type, class: "btn btn-primary" %>
  </div>
</div>
