<h1><%= t('activerecord.attributes.coin.new_mining_type') %></h1>

<%= render 'form', mining_type: @mining_type %>

<%= link_to "#{t('activerecord.attributes.mining_type.back')}", mining_types_path, class: "btn btn-primary" %>
